

.app {
  
  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  &-logo{
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
  }

  &-title{
    font-size: 1.5rem;
  }

  &-intro{
    padding: 1rem;
    font-size: 1.25rem;
  }

  &-content{
    flex:1;
    display: flex;
    background-color: var(--color-light-4);
    padding: 1rem;
  }

}

.btn.btn-nav{
  background-color: var(--color-primary);
  color: var(--color-light-0);
  border-radius: 0;
  cursor: pointer;
}

.btn-nav:focus{
  outline:none;
  transform: translate(0);
}


@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
